DATABASE_URL= your_database_url
NOMBA_CLIENT_ID=your_test_client_id
NOMBA_PRIVATE_KEY=your_test_private_key
NOMBA_ACCOUNT_ID=your_parent_account_id
NOMBA_SUB_ACCOUNT_ID=your_sub_account_id
NOMBA_WEBHOOK_SECRET=your_webhook_secret
NOMBA_BASE_URL=https://api.nomba.com


 


